<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="css/estilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a href="#" class="nav-logo">
                    <img src="logo.png" alt="Logo cafe" class="logo-image">
                  </a>
              <input type="checkbox" id="menu-toggle" class="menu-toggle" />
              <label for="menu-toggle" class="menu-icon"></label>
              <ul class="nav-menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="Producto.html">Producto</a></li>
                <li><a href="Quienes_Somos.html">Quienes Somos</a></li>
                <li><a href="Atencion_Cliente.html">Atención al Cliente</a></li>
                <li><a href="usuaio.html">Usuario</a></li>
                <li><a href="busqueda.html">Búsqueda</a></li>
                <li><a href="carrito.html">Carrito</a></li>
              </ul>
            </div>
          </nav>
    </header>
    
<div class="quienes-somos">
  <div class="title">¿Quiénes somos?</div>

  <div class="section">
    <div class="subtitle">Historia</div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit a
      metus et elementum.
    </div>
  </div>

  <div class="section">
    <div class="subtitle">Misión</div>
    <div class="text">
      Aliquam aliquet ipsum vel orci aliquam, eget scelerisque justo molestie. 
      Nam cursus neque eget feugiat mattis.
    </div>
  </div>

  <div class="section">
    <div class="subtitle">Visión</div>
    <div class="text">
      Duis blandit velit sapien. Donec molestie lobortis risus, nec lacinia libero.
    </div>
  </div>
</div>

 
<section class="reseñas">
  <h2>Reseñas</h2>

  <div class="reseña">
    <div class="columna-izquierda">
      <p class="nombre">Juan</p>
      <p class="estrellas">★★★★★</p>
    </div>
    <p class="comentario">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit a
      metus et elementum. Aliquam aliquet ipsum vel orci aliquam, eget scelerisque 
      justo molestie. Nam cursus neque eget feugiat mattis
    </p>
  </div>

  <div class="reseña">
    <div class="columna-izquierda">
      <p class="nombre">Marta</p>
      <p class="estrellas">★★★★★</p>
    </div>
    <p class="comentario">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit a 
      metus et elementum. Aliquam aliquet ipsum vel orci aliquam, eget scelerisque 
      justo molestie. Nam cursus neque eget feugiat mattis
    </p>
  </div>

  <div class="reseña">
    <div class="columna-izquierda">
      <p class="nombre">Enrique</p>
      <p class="estrellas">★★★★☆</p>
    </div>
    <p class="comentario">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit a 
      metus et elementum. Aliquam aliquet ipsum vel orci aliquam, eget scelerisque 
      justo molestie. Nam cursus neque eget feugiat mattis
    </p>
  </div>
</section>






  

</body>
</html>
